@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/ibm-plex-sans-var.woff2) format('woff2');
}
::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}
*{
  max-width: 100%;
}
.root,
#root,
#docs-root {
  --bg-color: theme("colors.background.50")
  --fg-color: theme("colors.main.700")
  --bg-color-1:theme("colors.background.50")
}
.dark-mode {
  --bg-color: theme("colors.background.800")
  
  --bg-color-1: theme("colors.background.800")
  --fg-color: theme("colors.main.100")
}
.notion {
  font-family: inherit;
}
.notion-header {
  padding: 0;
  @apply bg-background-100 bg-opacity-50 dark:bg-background-900 dark:bg-opacity-50
}

.notion-viewport{
  display: none;
}